<div class="container" style="margin-top: 100px;">
    <h1 class="text-center">Controle de Tarefas</h1>
    <a href="#" routerLink="/tarefa/nova-tarefa/" class="btn btn-info mt-3 mb-3">Novo</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Data Cadastro</th>
                <th width="250px">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarefa of tarefas">
                <td>{{tarefa.nome}}</td>
                <td>{{tarefa.descricao}}</td>
                <td>{{tarefa.status}}</td>
                <td>{{tarefa.dataCadastro |date:'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <a href="#" [routerLink]="['/tarefa/', tarefa.id, 'detalhes']" class="btn btn-secondary">Detalhes</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
