<div class="container" *ngIf="tarefa" style="margin-top: 100px; margin-bottom: 100px;">
  <a href=""  routerLink="/tarefa/index" class="btn btn-dark mb-3">Voltar</a>
  
  <h1 class="text-center">Tem certeza que deseja excluir a Tarefa?</h1>
   
  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</div>

    <div class="form-group">
      <input type="hidden"  id="{{id}}"  class="form-control" [(ngModel)]="id" readonly>
    </div>

    <div class="card">
      <div class="card-body">
          <h2 class="card-title">Tarefa: {{tarefa.nome}}</h2>
          <p class="card-text"><strong>Descrição:</strong> {{tarefa.descricao}}</p>
          <p class="card-text"><strong>Data de Cadastro:</strong> {{tarefa.dataCadastro|date:'dd/MM/yyyy HH:mm'}}</p>
          <p class="card-text"><strong>Status:</strong> {{tarefa.status}}</p>
      </div>
    </div>
    <div class="mt-4">
      <button type="button" class="btn btn-danger" (click)="submit()">Excluir</button>
    </div>
    
</div>