<div class="container" *ngIf="tarefa" style="margin-top: 100px; margin-bottom: 100px;">
  <h1 class="text-center">Detalhes da Tarefa</h1>

  
  <div class="mb-3">
    <div>
        <a href="#" routerLink="/tarefa/index" class="btn btn-dark" style="margin-right: 10px;">Voltar</a>
        <a class="btn btn-info" [routerLink]="['/subtarefa/nova-sub-tarefa', { tarefaId: tarefa.id, tarefaNome: tarefa.nome }]">Criar Sub Tarefas</a>
    </div>      
  </div>
  

  <div class="card">
      <div class="card-body">
          <h2 class="card-title">Tarefa: {{tarefa.nome}}</h2>
          <p class="card-text"><strong>Descrição:</strong> {{tarefa.descricao}}</p>
          <p class="card-text"><strong>Data de Cadastro:</strong> {{tarefa.dataCadastro|date:'dd/MM/yyyy HH:mm'}}</p>
          <p class="card-text"><strong>Status:</strong> {{tarefa.status}}</p>
      </div>
  </div>


  <div class="container mt-4">
      <h2>Sub Tarefas</h2>
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Status</th>
                  <th>Data de Cadastro</th>
                  <th width="250px">Ação</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let subTarefa of tarefa.subTarefa">
                  <td>{{subTarefa.nome}}</td>
                  <td>{{subTarefa.descricao}}</td>
                  <td>{{subTarefa.status}}</td>
                  <td>{{subTarefa.dataCadastro|date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>
                    <a href="#" [routerLink]="['/subtarefa/', subTarefa.id, 'editar-sub-tarefa', { tarefaId: tarefa.id}]" class="btn btn-success">Editar</a>
                    <a href="#" [routerLink]="['/subtarefa/', subTarefa.id, 'remover-sub-tarefa', { tarefaId: tarefa.id}]" class="btn btn-danger">Excluir</a>

                </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
